<div class="card">
        <div class="card-body">
          <h4 class="card-title">Report Details</h4>
          <form class="forms-sample" method="POST">
            <div class="form-group">
              <label for="exampleInputName1"><b>Title :</b> <%= report.title %></label>
            </div>
            <div class="form-group">
                <label for="exampleInputName1">
                    <b>Category :</b>  <% for(var i=0; i<categoryList.length; i++){%>
                                    <% if(categoryList[i].id == report.category){%>
                                        <%= categoryList[i].name%>
                                <%}}%>
                </label>
            </div>
            <div class="form-group">
                <label for="exampleInputName1">
                   <b>Status :</b>   <%if (report.status == 0 ) {%>
                        Pending
                      <% } else if(report.status == 1) {%>
                        Approved
                      <% } else if(report.status == 2) {%>
                        Edit Requsted
                      <% } else if(report.status == 3) {%>
                        Delete Requsted
                      <%}%></label>
            </div>
            <div class="form-group">
              <label for="exampleTextarea1"><b>Description :</b></label>
              <p><%=report.description%></p>
            </div>
          </form>
        </div>
      </div>